.flipbook {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start; /* ← приподнимаем страницы вверх */

  padding-top: 10vh;        /* ← верхний отступ */
  padding-bottom: 10vh;     /* ← нижний отступ */

  gap: 40px;
  overflow: auto;
  box-sizing: border-box;
}


.pageContainer {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  pointer-events: none;
}

.controls button {
  pointer-events: all;
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  cursor: pointer;
}

.controls button:disabled {
  opacity: 0.4;
  cursor: default;
}

.counter {
  pointer-events: none;
  opacity: 0.7;
}
