.spread {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  min-height: calc(100vh - 60px);
  height: auto;

  overflow: auto;

  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  gap: 20px;
  box-sizing: border-box;
}



